* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left 65px top 30px;;

}

/* Header and navigation styles*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0px 200px;
    ;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-weight: 700;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner styles */
.banner {
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 10px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* About Section Styles */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;

}

.section-title {
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 50px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What I Do Styles */
.What {
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
}

.skill-description {
    margin-top: 20px;
    color: #757575;
    text-align: justify;
}

/* Resume Styles */

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.resume .title {
    font-family: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 5px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 10px;
}

.resume .description {
    color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* Content Styles */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact a {
    text-decoration: none;
    margin: 20px;
}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;

}

input {
    height: 64px;
}

/* Responsive Styles */

@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
    nav,
    .banner, 
    .skills-container, 
    .resume-content, 
    .about-info-container, 
    .contact{
        flex-direction: column;
        padding: 10px 20px;
    }
    .banner{
        margin: 0px 20px;
    }
    .banner img{
        width: 100%;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
        align-items: end;

    }
    
    .about, .contact{
        padding: 20px;
    }
    .contact input[type="text"],
    input[type="email"],
    textarea{
        padding: 0px 0px 0px 5px;
    }
}


@media screen and (min-width:577px) and (max-width: 992px) {
    .about, .contact{
        padding: 20px;
    }
    .contact{
        flex-direction: column;
    }
}

